Source: python-libcoev
Section: unknown
Priority: extra
Maintainer: Nikolay Sivko <sivko@hh.ru>
Build-Depends: cdbs, debhelper (>= 6), python2.6-coev, libucoev-dev (>= 0.6)
Standards-Version: 3.7.3
Homepage: http://code.google.com/p/coev/

Package: python-libcoev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python2.6-coev
Description: Python coev extension
 Python coev extension
